<div class="h-100 w-100 bgi" [style.background-image]="'url(assets/images/backgrounds/winooski.jpg)'">
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <mat-card>
      <div class="d-none d-md-flex flex-row my-3">
        <div class="flex-shrink-1 ml-4 align-items-center justify-content-center d-flex flex-column" [style]="profile ? 'margin-right: '+ profile.icon.width / 2 + 'px;' : ''">
          <ng-container *ngTemplateOutlet="icon"></ng-container>
        </div>
        <div class="flex-grow-1 d-flex align-items-center"  [style]="profile ? 'margin-right: '+ profile.icon.width / 4 + 'px;' : ''">
          <ng-template *ngTemplateOutlet="info"></ng-template>
        </div>
      </div>
      <div class="d-block d-md-none">
        <div class="row mx-4">
          <ng-container *ngTemplateOutlet="icon"></ng-container>
        </div>
        <div class="row mx-4 mt-5 align-items-center text-center justify-content-center">
          <ng-container *ngTemplateOutlet="info"></ng-container>
        </div>
      </div>
      <div class="position-absolute" style="top: .5em; right: 1em;">
        <div *ngIf="profile">
          <div *ngIf="todayIsBirthday">
            <mat-icon title="Today is their birthday.">cake</mat-icon>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>


<ng-template #icon>
  <img
    *ngIf="profile"
    class="rounded-circle"
    [src]="profile.icon.src" [alt]="profile.icon.alt"
    [width]="profile.icon.width" [height]="profile.icon.height"
  />
</ng-template>
<ng-template #info>
  <div *ngIf="profile" class="text-center">
    <h1 class="font-oswald-bold">{{profile.name.full}}</h1>
    <h3 class="text-secondary font-open-sans-regular">{{profile.location.l1}}, {{profile.location.l2}}, {{profile.location.l3}}</h3>
    <br />
    <div class="row">
      <div class="col-3 offset-3 text-center">
        <a [href]="'mailto:'+profile.contact.email" class="text-dark" alt="email" title="Email Me"><mat-icon>email</mat-icon></a>
      </div>
      <div class="col-3 text-center">
        <a [href]="profile.contact.github.link" class="text-dark" alt="github" title="View My Github"><img src="assets/images/icons/github-logo.png" width="20px" height="20px"></a>
      </div>
    </div>
    <br />
    <h2 class="text-dark font-open-sans-regular">{{profile.title}}</h2>
    <br />
    <div class="w-100">
      <button routerLink="/narrative/under-construction" class="btn btn-primary w-100 d-inline-flex align-items-center">
        <div>Continue to full site.</div>
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
    </div>

  </div>
</ng-template>
<!-- <div *ngIf="info !== null; else ghost">
  content
</div>
<ng-template #ghost>
  ghost
</ng-template> -->
<div class="d-none" *ngIf="profile$ | async"></div>
