<ng-container *ngIf="profileInfo$ | async"></ng-container>
<div class="content-fill d-flex flex-row align-items-center justify-content-center">
  <mat-card style="width: 75vw;">
    <div class="d-flex flex-column flex-bs-md-row align-items-center justify-content-around content-fill">
      <div id="profile-icon-container content-fill">
        <img class="profile"
          [src]="profileInfo?.icon?.src || getFallbackIcon()"
          [width]="profileInfo?.icon?.dimensions?.width || 200"
          [height]="profileInfo?.icon?.dimensions?.height || 200"
          [style]="'border-radius: ' + (profileInfo?.icon?.dimensions?.width || 200) + 'px;'"
        />
      </div>
      <div id="profile-info-container d-flex flex-column content-fill">
        <div class="basic-info">
          <h1 class="d-block font-oswald font-size-24">{{profileInfo?.name?.full}}</h1>
          <h2 class="d-block">{{profileInfo?.title}}</h2>
          <h3 class="d-block">{{getAge()}}</h3>
          <h4 class="d-block">{{getLocation()}}</h4>
        </div>
      </div>
    </div>
  </mat-card>
</div>
