<div class="h-100 w-100 bgi" [style.background-image]="'url(assets/images/backgrounds/road-fog-path.jpg)'">
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="text-center">This section of the site is currently under construction.</mat-card-title>
        <mat-card-subtitle class="font-weight-lighter italic text-center">*Please return at a later date.*</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
