<div class="h-100 w-100 container-fluid m-0 p-0 overflow-hidden" *ngIf="layoutState$ | async as layoutState">
  <div class="d-flex flex-column w-100 h-100">
    <header id="header" class="flex-row flex-shrink-1" *ngIf="layoutState.displayHeader">
      <app-header></app-header>
    </header>
    <div id="mid-section" class="d-flex flex-row flex-grow-1">
      <div id="left-nav" class="flex-shrink-1" *ngIf="layoutState.displayLeftNav">
        <app-left-nav></app-left-nav>
      </div>
      <div id="main-content" class="flex-grow-1 overflow-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer id="footer" class="flex-row flex-shrink-1" *ngIf="layoutState.displayFooter">
      <app-footer></app-footer>
    </footer>
  </div>
</div>
