/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Oswald:wght@300;400;700&family=Roboto:wght@300;400;700&family=Sawarabi+Mincho&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bgi {
  height: 100%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

$fonts: ('oswald', 'Oswald', sans-serif),
('roboto', 'Roboto', sans-serif),
('open-sans', 'Open Sans', sans-serif),
('mincho', 'Sawarabi Mincho', sans-serif),
('noto', 'Noto Sans JP', sans-serif);

$font-weights: ('light', 300),
('regular', 400),
('bold', 700);

@each $short,
$name,
$type in $fonts {

  @each $weight,
  $value in $font-weights {
    .font-#{$short}-#{$weight} {
      font-family: $name, $type !important;
      font-weight: $value !important;
    }
  }
}
