@import './scss/material';
@import './scss/dimensions';
@import './scss/fonts';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#app-container {
  height: 100vh;
  width: 100vw;
}

.content-fill {
  height: 100% !important;
  width: 100% !important;

  min-height: 100% !important;
  min-width: 100% !important;
}

.mat-drawer-container {
  background: transparent !important;
}

.btn:focus {
  box-shadow: none;
}

button:focus {
  outline: none !important;
}
