$bootstrap-breakpoints: ('infix': 'bs-sm', 'size': 576),
('infix': 'bs-md', 'size': 768),
('infix': 'bs-lg', 'size': 992),
('infix': 'bs-xl', 'size': 1200),
;

$material-breakpoints: ('infix': 'mat-sm', 'size': 600),
('infix': 'mat-md', 'size': 1024),
('infix': 'mat-lg', 'size': 1440),
('infix': 'mat-xl', 'size': 1920),
;
