/* For use in src/lib/core/theming/_palette.scss */
$custom-primary: (50 : #e7ecfe,
  100 : #c4cffb,
  200 : #9db0f9,
  300 : #7690f7,
  400 : #5878f5,
  500 : #3b60f3,
  600 : #3558f1,
  700 : #2d4eef,
  800 : #2644ed,
  900 : #1933ea,
  A100 : #ffffff,
  A200 : #e9ebff,
  A400 : #b6beff,
  A700 : #9ca7ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$custom-accent: (50 : #edf5ea,
  100 : #d2e5ca,
  200 : #b5d4a7,
  300 : #97c284,
  400 : #80b569,
  500 : #6aa84f,
  600 : #62a048,
  700 : #57973f,
  800 : #4d8d36,
  900 : #3c7d26,
  A100 : #cdffbe,
  A200 : #a6ff8b,
  A400 : #7fff58,
  A700 : #6cff3f,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$custom-warn: (50 : #ffebe0,
  100 : #ffceb3,
  200 : #ffad80,
  300 : #ff8c4d,
  400 : #ff7326,
  500 : #ff5a00,
  600 : #ff5200,
  700 : #ff4800,
  800 : #ff3f00,
  900 : #ff2e00,
  A100 : #ffffff,
  A200 : #fff4f2,
  A400 : #ffc7bf,
  A700 : #ffb1a6,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
