$dimensions: ('h': (property: height, values:(0: 0%,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      min-content: min-content,
      max-content: max-content,
      auto: auto)),
  'w': (property: width, values:(0: 0%,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      min-content: min-content,
      max-content: max-content,
      auto: auto)),
  'min-h': (property: min-height, values: (0: 0%,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      min-content: min-content,
      max-content: max-content,
    )),
  'min-w': (property: min-width, values: (0: 0%,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      min-content: min-content,
      max-content: max-content,
    )),
  'max-h': (property: max-height, values: (0: 0%,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      min-content: min-content,
      max-content: max-content,
    )),
  'max-w': (property: max-width, values: (0: 0%,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      min-content: min-content,
      max-content: max-content,
    )));

@import './mixins';
@include classesFromMap($dimensions);
