$flex: ("flex": (property: flex-direction,
    breakpoints: true,
    values: row column row-reverse column-reverse),
  "flex-grow": (property: flex-grow,
    values: 0 1),
  "flex-shrink": (property: flex-shrink,
    values: 0 1),
  "flex-wrap": (property: flex-wrap,
    values: wrap nowrap wrap-reverse),
  "justify-content": (property: justify-content,
    values: (start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly,
    )),
  "align-items": (property: align-items,
    values: (start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )),
  "align-content": (property: align-content,
    values: (start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      stretch: stretch,
    )),
  "align-self": (property: align-self,
    values: (auto: auto,
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )),
);


@import './mixins';
@include classesFromMap($flex);
