@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

$fonts: ("inconsolata": (font-name: 'Inconsolata',
    font-family: monospace,
    weights: (extra-light: 200,
      light: 300,
      regular: 400,
      medium: 500,
      semi-bold: 600,
      bold: 700,
      extra-bold: 800,
      black: 900)),
  "noto-sans": (font-name: 'Noto Sans',
    font-family: sans-serif,
    weights: (regular: 400,
      bold: 700)),
  "noto-sans-jp": (font-name: 'Noto Sans JP',
    font-family: sans-serif,
    weights: (thin: 100,
      light: 300,
      regular: 400,
      medium: 500,
      bold: 700,
      black: 900)),
  "oswald": (font-name: 'Oswald',
    font-family: sans-serif,
    weights: (extra-light: 200,
      light: 300,
      regular: 400,
      medium: 500,
      semi-bold: 600,
      bold: 700)),
);

@import './mixins';
@include fontsFromMap($fonts);


$font-size: (
  min: 12,
  max: 38
);

$font: map-get($map: $font-size, $key: min);

@while $font <= map-get($map: $font-size, $key: max) {
  .font-size-#{$font}{
    font-size: #{$font}px !important;
  }
  .line-height-#{$font}{
    line-height: #{$font}px !important;
  }

  $font: $font + 2;
}
